.courseCard {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 35vw;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.courseCard img {
 margin-right: 10px;
}
.courseCard:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .courseCard {
    padding: 0.25em 0.75em;
  }
}

.courseObjectives {
  margin-top: 0;
  font-size: 20px;
}
.courseObjectives li {
  padding: 10px;
  padding: 0.25em 0.5em;
  border: 3px solid;
  margin: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  transition: 200ms;
}
.courseObjectives li:hover {
  box-shadow: none;
}

.textBlock {
  display: flex;
  flex-direction: column;
  background-color: #13294d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
  font-size: 12px;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
.textBlock div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.textBlock span {
  color: #35b0ee;
}
.textBlock a {
  color: #54bff4;
  transition: 300ms;
}
.textBlock a:hover {
  color: #135a7e;
}

.codeBlock {
  display: flex;
  flex-direction: column;
  background-color: #0c1a31;
  color: white;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  font-size: 10px;
  border: 1px solid;
}

.projectObjectives {
  margin-top: 0;
  font-size: 20px;
}
.projectObjectives li {
  padding: 10px;
  padding: 0.25em 0.5em;
  border: 3px solid;
  margin: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  transition: 200ms;
  background-color: whitesmoke;
  color: black;
}
.projectObjectives li:hover {
  box-shadow: none;
}
