.card {
    border: 1px solid white;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.stats {
    margin-top: 5px;
    justify-content: space-evenly;
}
.label {
    border: 1px solid white;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: white;
}
