.vital {
    min-height: 85vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}
.vital h1 {
    font-weight: 200;
}
.vital img {
    opacity: 0.3;
}
.leftSideInner {
    min-height: 50vh;
    min-width: 50vh;
    border: 1px solid white;
    float: left;
    margin: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/BkIeqWm.png");
    background-size: contain;
    position: relative;
}
.leftSideInner p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 20px;
    border: 1px solid white;
}
.rightSideInner {
    min-height: 50vh;
    min-width: 25vh;
    border: 1px solid white;
    float: left;
    padding: 50px;
    margin: 50px;
}
.rightSideInner p {
    max-width: 300px;
}

.nbaAPI {
    min-height: 85vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nbaAPI h1 {
    font-weight: 200;
}
.rightSideInnerAPI {
    max-height: 50vh;
    min-width: 25vh;
    float: left;
    padding: 50px;
    margin: 50px;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}
.rightSideInnerAPI button {
    margin: 10px;
}
.rosterList {
    overflow-y: scroll;
    max-height: 50vh;
}
.leftSideInnerAPI {
    max-height: 50vh;
    min-width: 50vh;
    float: left;
    padding: 50px;
    margin: 50px;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}
.gitLink {
    color: #35b0ee;
    transition: 300ms;
}
.gitLink:hover {
    color: #2d6079;
}
.apiLink {
    color: #ee5735;
    transition: 300ms;
}
.apiLink:hover {
    color: #561d11;
}